.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

body {
  padding: 0;
  margin: 0;
}

.link-button {
  background: none;
  border: none;
  color: blue; /* Link color */
  text-decoration: underline; /* Underline style to mimic link */
  cursor: pointer;
  font-weight: bold; /* Bold font */
}

.link-button:hover {
  color: red; /* Change color on hover */
}

/* .login,
.signUp {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.login input,
.signUp input {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  height: 30px;
}

.login button,
.signUp button {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 320px;
  height: 30px;
  cursor: pointer;
}

.login label,
.signUp label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
} */

.board {
  width: 500px;
  height: 500px;
  background-color: rgb(252, 252, 252);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
}

.square {
  flex: 33%;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.square:active {
  background-color: lightgray;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.joinGame {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-game-input-container {
  margin-top: 10px;
}

.tic-tac-toe-drawing {
  height: 300px;
  width: auto;
}

.tic-tac-toe-drawing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logout-button {
  align-self: end;
  margin-top: 45px;
  margin-right: 80px;
}

.logout-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100vw;
}

.game-history {
  margin-top: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.stream-chat {
  margin-top: 45px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  margin-top: 30px;
  height: 350px;
  width: 350px;
}

.game-history-title {
  margin-top: 30px;
  border: 1px;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}
